    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <section id="main">
                    {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") 4 }}
                    
                    <div class="article_list">

                        <article class="summary_post">
                            <div class="listads">
                            {{ partial "listads" .}}
                            </div>
                        </article>

                        {{ range $paginator.Pages }}
                            {{ .Render "summary"}}
                        {{ end }}

                        <article class="summary_post">
                            <nav role="pagination">
                                <div class="pagination__page-number">{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</div>
                                <div class="pagination__arrow">
                                {{ if $paginator.HasPrev }}
                                    <a href="{{ $paginator.Prev.URL }}">&lt;&lt;&lt;</a>
                                {{ else}}
                                    <span class="disable_arrow">&lt;&lt;&lt;</span>
                                {{ end }}

                                {{ if $paginator.HasNext }}
                                    <a href="{{ $paginator.Next.URL }}">&gt;&gt;&gt;</a>
                                {{ else}}
                                    <span class="disable_arrow">&gt;&gt;&gt;</span>
                                {{ end }}
                                </div>
                            </nav>
                            <div class="archive">
                                <br>
                                <a href="{{ .Site.BaseURL }}/tags/">Tags</a> /
                                <a href="{{ .Site.BaseURL }}/archives/">Archive</a>
                            </div>
                        </article>
                    </div>
                    {{ partial "bottomads" .}}
                </section>
            </div>
        </div>
        {{ partial "footer.html" .}}
        {{ partial "script.html" .}}
    </body>
</html>
