    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <ul id="list">
                    {{ range .Data.Pages }}
                    <li>
                        {{ .Title }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ partial "footer.html" .}}
        {{ partial "script.html" .}}
    </body>
</html>
