    {{ partial "head.html" . }}
    <body>
        {{ partial "sidebar.html" . }}
        <div class="content-wrapper">
            <div class="content-wrapper__inner">
                <section id="main">
                    <div class="article_list">
                        {{ range .Data.Pages }}
                            {{ if eq .Type "work" }}
                                {{ .Render "summary"}}
                            {{ end }}
                        {{ end }}
                    </div>
                </section>
            </div>
        </div>
        {{ partial "footer.html" .}}
        {{ partial "script.html" .}}
    </body>
</html>
